<div class="audioContent">
  <div class="carousel">
    <div class="track">
      <div
        class="track-item"
      >
        <div class="image_container">
          <img [src]="tracks[currentTrackIndex].image"/>
        </div>
        <div class="audio_container">
          <audio class="audio" #audio controls [src]="tracks[currentTrackIndex].src" (ended)="nextTrack()"
                 autoplay></audio>
        </div>
        <div class="description">
          <p>{{ tracks[currentTrackIndex].title }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <button (click)="prevTrack()">
      <img src="Previous_music.svg">
    </button>
    <button (click)="nextTrack()">
      <img src="Next_music.svg">
    </button>
  </div>
</div>


<!-- TODO:-->
<!--  Поменяй систему прокрутки на просто смену, адаптив говно!-->
