<div class="container">
  <div class="userAccount">
    <div class="userInfo">
      <div class="header">
        <img src="{{ userHeader }}" loading="eager">
      </div>
      <span class="avatar_and_username">
        <div class="avatar">
          <img src="{{ userAvatar }}" loading="eager">
        </div>
        <div class="userName">
          <h1 class="userName">{{ userName }}</h1>
        </div>
      </span>
    </div>
    <div class="userVideos">
      @for (video of videos; track video) {
        <div class="video" [routerLink]="['/video', video.Video_ID]">
          <img src="{{video.preview}}" alt="{{video.preview}}">
          <div class="info">
            <h5>{{video.name}}</h5>
          </div>
        </div>
      } @empty {
        <div class="noVideo">
          <h1>Тут нет видео.</h1>
        </div>
      }
    </div>
  </div>
</div>
