$grid-columns: 4
$grid-gap: 30px


.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .userAccount
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh

    .userInfo
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .header
        display: flex
        justify-content: center
        width: 50vw
        height: auto
        aspect-ratio: 16/9
        position: relative
        overflow: hidden

        img
          border-radius: 15px
          width: 100%
          height: 100%
          object-fit: cover

      .avatar_and_username
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        justify-content: center
        align-items: center

        .avatar
          display: flex
          justify-content: center
          align-items: center
          width: 70px
          height: 70px
          position: relative

          img
            width: 100%
            height: 100%
            object-fit: contain

        .userName
          margin-left: 25px
          position: relative
          left: -25px

        .exitAccount
          float: right
          display: flex
          width: 40%

          button
            padding: 13px
            border-radius: 15px
            outline: none
            border: none
            margin-right: 70px


.videos
  margin-left: 200px
  display: grid
  grid-template-columns: repeat($grid-columns, 1fr)
  gap: $grid-gap

  .video
    width: 20vw
    height: auto
    aspect-ratio: 16/9

    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

    img
      width: 100%
      height: 100%
      border-radius: 15px
      object-fit: cover
      padding: 5px
      position: relative

      &::after
        content: " "
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #1A1A1D
        opacity: 1

    .info
      display: block
      position: relative
      top: 5px
      box-sizing: border-box

      .video_name
        margin: 10px 0 5px
        font-size: 1.2em
        text-align: left
        max-width: 100%
        overflow: hidden
        text-overflow: ellipsis
        display: block

      .author_and_views
        display: flex
        flex-direction: column
        gap: 10px

        p
          margin: 0
          font-size: 1.1em
          color: #d5d5d5
          text-align: left


@media (max-width: 768px)
  .dontHaveAnAccount
    .interactive
      margin-left: -120px

  .avatar_and_username
    margin-left: 40px
    width: 90%

    .avatar
      display: none

  .videos
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px

    .video
      width: 25vw

@media (max-width: 600px)
  .dontHaveAnAccount
    .interactive
      margin-left: -50px

  .avatar_and_username
    margin-left: 40px
    width: 90%


  .videos
    grid-template-columns: 1fr
    gap: 20px

    .video
      width: 40vw
