<div class="videos">
  @for (video of videos; track video) {
    <div class="video" [routerLink]="['/video', video.Video_ID]">
      <img src="{{video.preview}}" alt="{{video.preview}}">
      <div class="info">
        <h5>{{video.name}}</h5>
        <p>{{video.owner}}</p>
      </div>
    </div>
  } @empty {
    <div *ngFor="let item of items">
      <button [routerLink]="['/video', item.id]">
        <div class="video" [routerLink]="['/video', item.Video_ID]">
          <img src="{{item.preview}}" alt="{{item.preview}}">
          <div class="info">
            <h5>{{item.name}}</h5>
          </div>
        </div>
      </button>
    </div>
  }
</div>

