<div class="main">
  <div class="videoPart">
    <div class="video_container">
      <video autoplay="autoplay" controls="controls" src="{{ video_link }}"></video>
    </div>
    <div class="videoInfo">
      <h1 class="videoName">{{ video_name }}</h1>
      <h3>Автор - {{video_owner}}</h3>
      <div class="videoContent">
        <div class="share_and_raiting">
          <app-rating [current_star]="videoStars"></app-rating>

          <button (click)="shareInfo()" class="shareButt">Поделиться</button>
        </div>

        <div class="aboutVideo" *ngIf="VideoData.description != ''">
          <details class="aboutVideoDetails">
            <summary>Описание</summary>
            <p>{{ VideoData.description }}</p>
          </details>
        </div>

        <div class="category">
          <p>Категория: <b>{{ VideoData.category }}</b></p>
        </div>
      </div>
    </div>

    <div class="comments">
      <h2>{{ howMuchComments }} комментариев</h2>
      <div class="commenter">
        {{ userName }}
        <input class="commentInput" [(ngModel)]="userComment" (keyup.enter)="commentOnVideo()"
               placeholder="Введите комментарий">

        <div *ngIf="userComment" class="buttons">
          <button (click)="cleaner()">Отмена</button>
          <button class="submitCommentButton" (click)="commentOnVideo()">Оставить комментарий</button>
        </div>
      </div>
      <div class="allComments">
        @for (comment of comments; track comment) {
          <div class="comment">
            <h3>{{ comment.owner }}</h3>
            <p>{{ comment.text }}</p>
          </div>
        }
      </div>
    </div>
  </div>
</div>

