<div class="main">
  <div class="videoPart">
    <video autoplay="autoplay" controls="controls" [src]="videoData.video" loop></video>
    <div class="videoInfo">
      <h1 class="videoName">{{ videoData.name }}</h1>
      <h3 [routerLink]="['/account', VideoOwnerId.User_ID]">Автор - {{ videoData.owner }}</h3>

      <div class="videoContent">
        <div class="aboutVideo">

          <details class="aboutVideoDetails">
            <summary>Описание</summary>
            <p>{{ videoData.description }}</p>
          </details>
        </div>

        <div class="share">
          <div class="stars" id="stars">
            <tui-root>
              <tui-rating
                class="rating"
                [(ngModel)]="videoStars"
              />
            </tui-root>
          </div>
          <button (click)="shareInfo()" class="shareButt">Поделиться</button>

        </div>

        <div class="category">
          <p>Категория: <b>{{ videoData.category }}</b></p>
        </div>
      </div>
    </div>
    <div class="comments">
      <h2>{{ howMuchComments }} комментариев</h2>
      <div class="commenter">
        {{ userName }}
        <input class="commentInput" [(ngModel)]="userComment" (keyup.enter)="commentOnVideo()"
               placeholder="Введите комментарий">
        <div *ngIf="userComment" class="buttons">
          <button (click)="cleaner()">Отмена</button>
          <button class="submitCommentButton" (click)="commentOnVideo()">Оставить комментарий</button>
        </div>
      </div>
      <div class="allComments">
        @for (comment of comments; track comment) {
          <div class="comment">
            <h3>{{ comment.owner }}</h3>
            <p>{{ comment.text }}</p>
            <!--          <button (click)="toggleInvert(comment)">-->
            <!--            <img class="likeImg" [style.filter]="imageFilter" src="image.png" alt="Toggle Image">-->
            <!--            <p>{{comment.likes}} лайков</p>-->
            <!--          </button>-->
          </div>
        }
      </div>
    </div>
  </div>
</div>

