$grid-gap: 30px

.videos
  margin-left: 200px
  display: flex
  flex-direction: column
  justify-content: center
  gap: $grid-gap

  .video
    width: 90%
    height: 200px
    padding: 20px
    border-radius: 15px
    border: 2px solid #616161

    display: flex
    align-items: flex-start
    justify-content: flex-start
    gap: 20px


    .preview
      aspect-ratio: 16/9
      height: 90%
      border-radius: 15px
      object-fit: cover
      padding: 5px
      position: relative

      &::after
        content: " "
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #1A1A1D
        opacity: 1

    .info
      width: 100%
      display: inline-block
      position: relative
      top: 5px
      box-sizing: border-box

      .video_name
        margin: 10px 0 5px
        font-size: 1.2em
        text-align: left
        max-width: 100%
        overflow: hidden
        text-overflow: ellipsis
        display: block

      .author_and_views
        display: flex
        flex-direction: column
        gap: 10px

        p
          margin: 0
          font-size: 1.1em
          color: #d5d5d5
          text-align: left

    button
      border: none
      background: none
      cursor: pointer
      display: flex
      flex-direction: column

      .helper
        margin-top: 20px
        width: 70px
        height: 30px
        padding: 20px
        border-radius: 15px
        color: white
        background: #363636
        opacity: 0
        transition: opacity 0.3s
        font-size: 13px


      img
        width: 30px
        height: 30px

        &:hover
          .helper
            opacity: 1




@media (max-width: 768px)
  .videos
    margin-left: 0
    grid-template-columns: repeat(2, 1fr)

    .video
      flex-direction: column
      width: 25vw

@media (max-width: 600px)
  .videos
    margin-left: 150px
    grid-template-columns: 1fr

    .video
      width: 40vw
