$grid-columns: 4
$grid-gap: 30px


.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .HaveAnAccount
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh
    gap: 50px

    .userInfo
      gap: 10px
      margin-left: 100px
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .header
        display: flex
        justify-content: center
        width: 80%
        height: 400px
        aspect-ratio: 16/9
        position: relative
        overflow: hidden

        background: #070707
        border-radius: 15px
        padding: 10px

        img
          border-radius: 15px
          width: 100%
          height: 100%
          object-fit: cover

      .avatar_and_username
        width: 80%
        display: grid
        grid-template-columns: 1fr 1fr 9fr
        justify-content: center
        align-items: center
        position: relative
        justify-self: flex-start
        align-self: flex-start
        margin-left: 140px

        .avatar
          display: flex
          justify-content: center
          align-items: center
          width: 70px
          height: 70px
          position: relative
          border-radius: 90px
          background: #070707
          overflow: hidden
          border: 5px solid #070707

          img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 15px

        .userName
          margin-left: 25px
          position: relative
          left: -25px

        .exitAccount
          float: right
          display: flex
          width: 40%

          button
            padding: 13px
            border-radius: 15px
            outline: none
            border: none
            margin-right: 70px

        .exitAccount
          justify-self: flex-end
          display: flex
          width: 40%

          button
            padding: 13px
            border-radius: 15px
            outline: none
            border: none
            margin-right: 30px

  .dontHaveAnAccount
    display: flex
    flex-direction: column
    gap: 20px

    .interactive
      display: flex
      flex-direction: column
      gap: 20px

      .enter,
        // header
      .register
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .enterForm,
        .registerForm
          background: #616161
          padding: 20px
          border-radius: 15px
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          width: 200px
          overflow: hidden

          .namePart,
          .passPart,
          .emailPart,
          .avatarPart,
          .headerPart
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

            input
              width: 100%

            .haveAvatar
              .avatar
                width: 100px
                height: 100px

                img
                  width: 100px
                  height: 100px
                  object-fit: contain

.submitButton,
.enterSubmit
  width: 100%

label
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

  span
    display: flex
    justify-content: center
    padding: 4px 0
    border-radius: 15px
    width: 200px
    background: black

.errorMessage
  width: 100%
  position: relative

  h1
    font-size: 17px

.videos
  margin-left: 200px
  display: grid
  grid-template-columns: repeat($grid-columns, 1fr)
  gap: $grid-gap

  .video
    width: 20vw
    height: auto
    aspect-ratio: 16/9

    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

    img
      width: 100%
      height: 100%
      border-radius: 15px
      object-fit: cover
      padding: 5px
      position: relative

      &::after
        content: " "
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #1A1A1D
        opacity: 1

    .info
      display: block
      position: relative
      top: 5px
      box-sizing: border-box

      .video_name
        margin: 10px 0 5px
        font-size: 1.2em
        text-align: left
        max-width: 100%
        overflow: hidden
        text-overflow: ellipsis
        display: block

      .author_and_views
        display: flex
        flex-direction: column
        gap: 10px

        p
          margin: 0
          font-size: 1.1em
          color: #d5d5d5
          text-align: left

input
  padding: 10px
  background: #333333
  border-radius: 75px
  color: white
  border: none
  outline: none


button
  margin-top: 10px
  padding: 10px
  background: #272727
  border-radius: 75px
  color: white
  border: none
  outline: none

.popup
  color: black
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  padding: 20px
  background-color: white
  border: 1px solid #ccc
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  z-index: 9999

@media (max-width: 768px)
  .dontHaveAnAccount
    .interactive
      margin-left: 120px

  .avatar_and_username
    margin-left: 40px
    width: 90%

    .avatar
      display: none

  .videos
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px

    .video
      width: 25vw

@media (max-width: 600px)
  .videos
    grid-template-columns: 1fr
    gap: 20px

    .video
      width: 40vw
