<div class="container">
  <div class="userAccount">
    <div class="userInfo">
      <div class="header">
        <img src="{{ userHeader }}" loading="eager">
      </div>
      <span class="avatar_and_username">
        <div class="avatar">
          <img src="{{ userAvatar }}" loading="eager">
        </div>
        <div class="userName">
          <h1 class="userName">{{ userName }}</h1>
        </div>
      </span>
    </div>
    <div class="videos">
      @for (video of videos; track video) {
        <div class="video" [routerLink]="['/video', video.Video_ID]">
          <img src="{{video.preview}}" loading="eager" alt="{{video.preview}}">
          <div class="info">
            <h5 class="video_name">{{ video.name }}</h5>
            <span class="author_and_views">
          <p>{{ video.owner }}</p>
          <p>{{ video.views }} просмотров</p>
        </span>
          </div>
        </div>
      } @empty {
        <div class="loading">
          <h1>Loading....</h1>
        </div>
      }
    </div>
  </div>
</div>
