<div class="burger-menu">
  <img (click)="set_client_web_pos()" routerLink="/" src="KptubeLogo.svg" class="logo_of_kp_tube">
  <button class="bars_icon" (click)="toggleMenu()" [ngClass]="{ 'open': isOpen }">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="menu" *ngIf="isOpen" @fadeInOut [ngClass]="{ 'open': isOpen }">
    <ul>
      <li routerLink="/"><a>Главная</a></li>
      <li routerLink="/KPmusic"><a>KP - music</a></li>
      <li routerLink="/account"><a>Мой канал</a></li>
      <li routerLink="/history"><a>История</a></li>
      <li routerLink="/liked"><a>Лайкнутые</a></li>

    </ul>
  </div>
</div>
