.rating_container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(50px * 5);
  height: 40px;
  gap: 10px;
  padding: 20px;

  .star {
    width: 40px;
    height: 40px;
  }
}
