<form class="form">
  <div class="file">
    <label id="fileUploadLabel" for="fileUpload">
      <h1>Аудио</h1>
      <img *ngIf="!audioSrc" src="{{mainLink}}" width="80">
      <audio loop="loop" autoplay controls="controls" muted="muted" [src]="audioSrc" *ngIf="audioSrc" id="previewVideo"></audio>
    </label>
    <input id="fileUpload" type="file" (change)="onFileChange($event)" name="video" hidden="hidden" required>
  </div>
  <div class="info">
    <label id="nameTextlabel" for="nameText">Название аудио: </label>
    <textarea type="text" rows="2" cols="35" id="nameText" [(ngModel)]="name" name="name" required></textarea>

    <label id="descriptionTextlabel" for="descriptionText">Описание аудио: </label>
    <textarea type="text" rows="8" cols="35" id="descriptionText" [(ngModel)]="description" name="description" required></textarea>

    <label for="file-input" class="upload-label">
      <p>Картинка:</p>
      <div class="upload-container">
        <img [src]="imageSrc" alt="Selected image" *ngIf="imageSrc">
        <span *ngIf="!imageSrc"></span>
      </div>
    </label>
    <input id="file-input" name="preview" type="file" accept="image/jpeg" (change)="previewChange($event)" hidden="hidden">

    <button type="submit" [disabled]="isButtonDisabled" class="uploadButt" (click)="onSubmit()">Upload</button>
  </div>
</form>

<div *ngIf="loading" class="popup">
  <h1>Загрузка</h1>
  <p>не закрывайте это окно</p>
  <p>Прогресс: {{ uploadProgress }}%</p>
  <button (click)="cancelUpload()">Отменить загрузку</button>
</div>


<div *ngIf="errorMessage" class="popup">
  <h1>Ошибка!</h1>
  <p>Необходимо верефицировать аккаунт!</p>
  <i>Сейчас это доступно только бета тестерам <br>(т.е вы знаете куда жаловаться!!!)</i>
  <br>
  <button (click)="close()">Закрыть</button>
</div>
