<nav (window:resize)="onResize($event)">
  <div class="search">
    <div class="searchInput">
      <label *ngIf="!isMobile" for="inputToSearch" class="form">
        <button (click)="onEnter()">Search</button>
        <input [(ngModel)]="userInput" (keyup.enter)="onEnter()" id="inputToSearch" maxlength="30"
               placeholder="Введите запрос" autocomplete="off"
        />
      </label>
    </div>
    <div class="account">
      <button *ngIf="isMobile" (click)="searchIconClick()" class="system_search_icon">
          <img id="search_button_icon" class="systemIcons" src="Search.svg">
      </button>
      <span *ngIf="!isInputDisabled" class="search_mobile">
        <input class="search_mobile_input"
               [(ngModel)]="userInput" (keyup.enter)="onEnter()" id="inputToMobileSearch" maxlength="25"
               placeholder="Введите запрос" autocomplete="off"
        >
      </span>
      <span *ngIf="isInputDisabled" class="account_data">
        <button><a routerLink="/creating"><img class="systemIcons" src="newVideo.svg"></a></button>
        <button><a routerLink="/KPmusic/Creating"><img class="systemIcons" src="NewMusic.svg"></a></button>
        @if (isLogin()) {
          <button class="userAvaterButton" routerLink="/account"><a><img [src]="userAvatar"></a></button>
        } @else {
          <button><a routerLink="/account">Аккаунт</a></button>
        }
      </span>
    </div>
  </div>
</nav>
