<nav>
  <div class="search">
    <div class="invisible">

    </div>
    <div class="search">
      <input type="text">
    </div>
    <div class="account">
      <button><a routerLink="/creating"><img src="newVideo.svg"></a></button>
      <button><a routerLink="/KPmusic/Creating"><img src="NewMusic.svg"></a></button>
      @if (isLogin()) {
        <button class="userAvaterButton"><a routerLink="/account"><img [src]="userAvatar"></a></button>
      } @else {
        <button><a routerLink="/account">Аккаунт</a></button>
      }
    </div>
  </div>
</nav>
