<div class="videos">
  @for (video of videos; track video) {
    <div class="video" [routerLink]="['/video', video.Video_ID]">
      <img src="{{video.preview}}" loading="eager" alt="{{video.preview}}">
      <div class="info">
        <h5 class="video_name">{{ video.name }}</h5>
        <span class="author_and_views">
          <p>{{ video.owner }}</p>
          <p>{{ video.views }} просмотров</p>
        </span>
      </div>
    </div>
  } @empty {
    <div class="loading">
      <h1>Loading....</h1>
    </div>
  }
</div>
