/* You can add global styles to this file, and also import other style files */
body {
  background: #504e4e;
  color: white;
  font-family: Roboto, Arial, sans-serif;

  user-select: none;
  -moz-user-select: none;

  overflow-x: hidden;
}
