/* You can add global styles to this file, and also import other style files */
body {
  background: #0f0f0f;
  color: white;
  font-family: Roboto, Arial, sans-serif;

  overflow-x: hidden;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 12px;
    transition: width 0.3s ease-out;

    &:focus {
      width: 20px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: #1A1A1D;
    border-radius: 90px;
  }

}
